[Unit]
Description=Fills Busboy database

[Service]
Type=simple
ExecStart=/usr/bin/env --chdir=/home/noel/busboy /home/linuxbrew/.linuxbrew/bin/pipenv run python busboy.py
